<div *ngIf="product" class="detail-section">
    <div class="container-fluid">

        <img src="{{ product.imageUrl }}" class="detail-img">

        <h3>{{ product.name }}</h3>
        <div class="price"> {{ product.unitPrice | currency: 'USD' }} </div>
        <button (click)="addToCart()" class="btn btn-success btn-sm"> Add to Cart</button>

        <hr>
       <h4>Description</h4>
       <p> {{ product.description }}</p>


       <hr>
       <a routerLink="/products" class="mt5">Back to Products</a>
    </div>
</div>